
<div id="Computadores" align="center"  style="margin-top:6%">
    {%  if 0 == ips|length %}
    <h1>COMPUTADORES</h1>
    <br>
  <i class="fas fa-desktop fa-7x" >
  </i>

     <p></p><h2>Opa, parece que não existe nenhum computador, tente um scan :)</h2>
          {% include "ScanNmap.html" %}

    {% endif %}
    {%  if 0 != ips|length %}
    <h1 >COMPUTADORES</h1>
    <br>
    {% endif %}


{% for ip in ips %}

    <i class="fas fa-desktop fa-7x" >   <p></p>           {% for porta_quantidade in portas_quantidades %}

        {% if ip == porta_quantidade.ip %}



                <h6> PORTAS ({{ porta_quantidade.quantidade }})
                    {% endif %}


            {% endfor %}



</h6>


        <button   class="btn btn-dark" type="button"  data-toggle="modal" data-target="#exampleModalCenter{{ ip.id }}" id="botao_ip_id_{{ ip.id }}"> IP: {{ ip.ip }}  {% for hostname in hostnames %}
            {% if hostname.ip.ip == ip.ip %}
            <script>
                document.getElementById("botao_ip_id_{{ ip.id }}").innerHTML="{{ hostname.hostname }}";
            </script>
            {% endif %}

        {% endfor %}
</button>

</i>

    <traços style="color:white;">
------
        </traços>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter{{ ip.id }}" tabindex="-1" role="dialog" aria-labelledby="#exampleModalCenter{{ ip.id }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ ip.ip }} {{ ip.ativo }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>
            <h1>Hostnames</h1></p>
{% for hostname in hostnames %}
            {% if hostname.ip.ip == ip.ip %}
         <p>{{ hostname.hostname }}</p>
        {% endif %}

        {% endfor %}
          <hr>
<h1>Portas</h1>

          <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Porta</th>
      <th scope="col">Serviço</th>
      <th scope="col">Produto</th>
              <th scope="col">Versão</th>

      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
          <p></p>
          <div align="">
              <hr>

  {% for porta in portas %}

                {% if ip == porta.ip %}
                          {% if "" != porta.ativo %}
<tr>
                <td>{{ porta.porta }}</td>
                                <td>{{ porta.servico }}</td>
              <td>{{ porta.produto }}</td>
              <td>{{ porta.versao }}</td>
              <td>{{ porta.status }}</td>


          {% if 1 == porta.vulneravel %}
                                                    <p></p>
    <a href="/porta/nao/vuln/{{ porta.id }}/4/1">naovuln</a>
<p></p>
                                                    <p></p>
          <button type="button" class="btn btn-danger">          Vulnerabilidade: {{ porta.get_Tipo }}</button>


<p></p>
          {% endif %}
    </tr>
                                  {% endif %}


                        {% endif %}
                {% endfor %}

              </div>
            </tbody>
</table>
   <h6>Diretorios</h6>

          <div></div>


          {% for diretorio in diretorios %}
        {% if diretorio.ip == ip %}
          <p></p>
        {{ diretorio }}?{% for query in queryparameteres %}
            {% if query.diretorio.id ==  diretorio.id %}
          {% if query.vulneravel == 1 %}


          <button>{{ query.parametro }}</button>={{ query.valor }}&

          {% endif %}

                    {% if query.vulneravel != 1 %}
                    {{ query.parametro }}={{ query.valor }}&

          {% endif %}



          {% endif %}
          {% endfor %}

          <a href="/whatweb/{{ diretorio.id }}">whatweb</a>


          <a href="/sqlmap/{{ diretorio.id }}">sqlmap</a>
          <a href="/parserSite/{{ diretorio.id }}">parserSite</a>

        {% endif %}
                    {% endfor %}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endfor %}
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<form action="/handle_xml_upload/" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <input type="file" name="xmlfile">
<input class="form-control" name="rede_vpn" value="{{ rede_vpn.id }}">
<input class="form-control" name="comando" value="">

    <input type="submit" value="upload xml file">
</form>