<!DOCTYPE html>
<html lang="en">
<head>
 {% include "cabeca.html" %}

<style>

</style>
</head>
<body style="background: #D3D3D3;">
<div class="container">
<div style="  border-width: high;
  border-style: solid;
  border-color: #000000;">
<div style="  border-width: high;
  border-style: solid;
  border-color: #000000;">
<textarea cols="5" rows="20"  class="form-control" style="height:auto!important" disabled >{{ saida }}</textarea>

    </div>
    </div>

   <form action ="/exploit3/{{ sessao }}" method="POST">{% csrf_token %}

       <div align="center">||
           <p>||</p>
           <h6 >----------------------------------</h6>

       </div>
<input name="comando" class="form-control">
<button type="/exploit3/{{ sessao }}">Salvar</button>
    </form>

    {% if hosts|length == 0 %}
    Rode exploits <a href="/exploit/procurar">Aqui</a>


    {% endif %}

        Veja exploits <a href="/rodarExploits/">Aqui</a>

{% for a in hosts %}

<a href="/exploit3/{{ a.sessao }}">{{ a.sessao }}: {{ a.ip }}</a>
<p></p>

{% endfor %}
           </div>

</body>
</html>